@font-face {
    font-family: 'Young Serif';
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0 auto;
    font-family: 'Outfit', serif;
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}


img {
    max-width: 740px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
}

.imagem-descricao {
    padding: 0 30px;
}

h1, h2 {
    font-weight: 400;
    font-family: 'Young Serif', serif;
}

h1 {
    margin: 20px 0;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    margin: 15px 0;
}

p, li {
    font-size: 16px;
    color: gray
}


li {
    padding: 7px 15px
    
}

/* pseudo-elemento */
li::marker {
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}

.preparation li::marker{
    color: hsl(332, 51%, 32%);
}

span {
    font-weight: bold;
    color: hsl(12, 2%, 39%);
}

table {
    margin: 10px 0;
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: solid 1px hsl(30, 18%, 87%);
    padding: 15px 20px;
    text-align: left;
}

.card {
    width: 800px;
    background-color: white;
    margin: 50px 0px;
    padding: 40px 10px;
    border-radius: 20px;
}

.preparation {
    text-align: left;
    background-color: hsl(330, 100%, 98%);
    padding: 30px 30px;
    margin: 30px 30px 0 30px;
    border-radius: 20px;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}

.tamanho-padrao {
    padding: 10px 30px 30px 20px;
    text-align: left;
}
